;; Analyzed by ClojureScript 1.7.228
{:name wonderblog.core, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires {wonderblog.bannerlinks-magic wonderblog.bannerlinks-magic}, :imports nil}